
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    background: white;
    color: blue;
}

header {
    background: pink;
    color: #fff;
    padding: 5px 0 2px 0;
    text-align: center;
    box-shadow: 0 2px 8px rgba(62,97,168, 0.15);
}

header h1 {
    margin-bottom: 8px;
    font-size: 3em;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}
nav a {
    color: #fff;
    text-decoration: underline dotted plum 2px;
    font-size: 1.1em;
    transition: color 0.25s;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
}

nav a:hover{
    background: white ;
    color: skyblue;
}

.books {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px auto;
    flex-direction: row;
    max-width: 820px;
}

.book-card {
    background: #fff;
    box-shadow: 0 4px 24px rgba(62, 97, 169, 0.07);
    border-radius: 16px;
    max-width: 350px;
    transition: transform 0.22s, box-shadow 0.22s;
    padding: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.book-card:hover {
    transform: translateY(-10px) scale(1.04);
    box-shadow: 0 8px 32px rgba(40, 40, 60, 0.671);
}

.book-card img {
    width: 180px;
    border-radius: 10px;
    height: 240px;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 4px 16px darkblue;
}
.book-card h2 {
    font-size: 1.3em;
    margin-bottom: 8px;
    color: pink;
}

.book-card .author {
    font-style: italic;
    color: #606080;
    margin-bottom: 5px;
}
.book-card .price {
    font-weight: bold;
    margin-bottom: 20px;
    color: #feb800;
}
.book-card button {
    background: #feb800;
    color: #fff;
    border: none;
    border-radius: 9px;
    padding: 10px 28px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(40,40,60,0.09);
    transition: background 0.2s, box-shadow 0.2s, transform 0.15s;
}

.book-card button:hover{
    background: blue;
    transform: scale(1.1);
}
.book-card button:focus {
    background: #253048;
    box-shadow: 0 4px 16px rgba(40,40,60,0.19);
    transform: scale(1.1);
}
footer {
    background: #253048;
    color: #fff;
    padding: 18px;
    margin-top: 60px;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 0 0 10px 10px;
}
